<ul class="list-unstyled">
    <% replies.forEach(function(reply){ %>

    <li class=" media" name="reply<%= reply.id %> "id="repl<%= reply.id %>">
      <div class="media-left">
        <a href="<%= reply.user_id %>">
          <img class="media-object img-thumbnail mr-3" alt="<%= reply.user_name %>" src="/avatar/<%= reply.user_avatar %>" style="width:48px;height:48px;" />
        </a>
      </div>

      <div class="media-body">
        <div class="media-heading mt-0 mb-1 text-secondary">
          <a href="<%= reply.user_id %>" title="<%= reply.user_name %>">
           <%= reply.user_name %>
          </a>
          <span class="text-secondary"> • </span>
          <span class="meta text-secondary" title="<%= reply.created_at %>"><%= reply.created_at %></span>

         <%# 回复删除按钮  %>
          <span class="meta float-right ">
            <a title="删除回复">
              <i class="fa fa-trash"></i>
            </a>
          </span>
        </div>
        <div class="reply-content text-secondary">
          <%- reply.content %>
        </div>
      </div>
    </li>
    <hr>
  <%   }) %>
</ul>